<!--
  Generated template for the Favourite Linkss page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
  	<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Favourite Links / Bookmarks</ion-title>
    <ion-buttons end>
       <button ion-fab mini (click)="addFavlink()"><ion-icon name="add-circle"></ion-icon></button> 
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding class="back">

	<ion-list>

    
	   
	  <ion-item-sliding *ngFor="let favlink of favlinks"  class="title">
         <ion-item (click)="viewFavlink(favlink)">       
                <h2>{{favlink.title}}</h2>
        </ion-item>


    

 
            <ion-item-options>
            <!-- this should be inside the edit icon (click)="editFavlink(favlink)" -->
                <button ion-button icon-only  light (click)="editFavlink(favlink)">
                    <ion-icon name="paper">Edit</ion-icon>
                </button>
                <button ion-button icon-only (click)="deleteFavlink(favlink)" danger>
                    <ion-icon name="trash">Delete</ion-icon>
                </button>
            </ion-item-options>
    </ion-item-sliding>

	</ion-list>
  <h3 *ngIf="favlinks == null"> No favlinks avalaible, use the add button to create new favlink</h3>
	<ion-fab right bottom>
    	<button ion-fab mini (click)="addFavlink()"><ion-icon name="add"></ion-icon></button>   
  </ion-fab>
</ion-content>
